h1{color: rgb(228, 12, 20);
  font-size: 60px;
  text-align: center; 
  line-height: 1.1;
}h2{color: rgb(249, 249, 252);
  font-size: 25px;
  text-align: center;
  line-height: 1.1
}
h3{color: rgb(242, 179, 5);
  font-size: 13.4px;
  text-align: center; 
  line-height: 1.1;
}

