body{ background-color: rgb(251, 224, 224);background-image:url(logo.png);background-repeat:no-repeat;
  background-attachment:fixed;
  background-position: center;
  background-size: 200px 200px;  
}
h1{color: rgb(250, 249, 249);
  font-size: 60px;
  text-align: center; 
  line-height: 1.1;
}
h2{color: rgb(249, 233, 5);
  font-size: 25px;
  text-align: center;
  line-height: 1.1
}
h3{color: rgb(82, 78, 78);
  font-size: 13.4px;
  text-align: center; 
  line-height: 1.1;
}
button {
  background-color: rgb(252, 250, 250);
  border: double rgb(12, 12, 12) 4px ;
  border-radius: 100px;
  color: #484545;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.center-btn {
    display: block;
    margin: 20px auto; /* centers horizontally */
    padding: 10px 18px;
    font-size: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#branch-options {
  text-align: center;
  margin-top: 18px;
}

.branch-option.gajuwaka {
  display: block;
  margin: 8px auto;
  padding: 12px 20px;
  font-size: 16px;
  color: white;
  background: #f74905;
  border: double 4px #090402;
  border-radius: 0px;
  cursor: pointer;
  width: max-content;
}
.branch-option.asilmetta { display: block;
  margin: 8px auto;
  padding: 12px 20px;
  font-size: 16px;
  background: #28a745; 
  color: #fff;         
  border-color: #17692c;border: double 4px #090402;
  border-radius: 0px;
  cursor: pointer;
  width: max-content;
}
.branch-option.butchirajpalem { display: block;
  margin: 8px auto;
  padding: 12px 20px;
  font-size: 16px;
  background: #007bff; 
  color: #fff;         
  border-color: #004a9f;
  border-radius: 0px;
}
.branch-option.kommadi { border: double 4px #090402;
  border-radius: 0px;
  cursor: pointer;
  width: max-content;display: block;
  margin: 8px auto;
  padding: 12px 20px;
  font-size: 16px;
  background: #ffc107; 
  color: #f9f9f9;      
  border-color: #c69500;border: double 4px #090402;
  cursor: pointer;
  width: max-content;
}
footer {
  padding: 10px;
  color: white;
  background-color: rgb(12, 12, 12);
  position: relative;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 10px;
  }
  header {
    flex-wrap: nowrap !important;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 14px;
  }
  h3 {
    font-size: 8px;
  }
}
h4{
  color: rgb(12, 47, 248);
  font-size: 17px;
  -webkit-text-stroke: 0.5px #090402;
}